extends ../../../layouts/account

block head
  title My Sites
  //- link(rel='stylesheet', href='/views/account/sites/index.min.css?#{cacheBreaker}')
  style(type='text/css')
    :css
      .template-site {
        display: none;
      }

      #create INPUT.site-name {
        text-align: right;
      }

      #Details .tab-content {
        text-align: center;
      }

block feet
  //- script(src='/views/account/sites/index.min.js?#{cacheBreaker}')
  //- script(src='//#{site.domain}/api/v1/status.js')
  script(src='/vendor/d3/d3.min.js')
  script(src='/vendor/jquery-qrcode/jquery.qrcode.min.js')
  script(src='/views/account/sites/index.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-12
      div.page-header
        h1 #{name}

  div.row#Inspector(data-ajax-target='')
    div.col-xs-3

      div.tabbable.tabs-left
        ul.nav.nav-pills.nav-stacked(role="tablist")
          li.active(role="presentation")
            a(role="tab", data-toggle="tab", href="#Overview")
              i.fa.fa-home
              = ' Overview'
          li(role="presentation")
            a(role="tab", data-toggle="tab", href="#Views")
              i.fa.fa-users
              = ' Views'
          li(role="presentation")
            a(role="tab", data-toggle="tab", href="#Uploaders")
              i.fa.fa-cloud-upload
              = ' Uploaders'
          li(role="presentation")
            a(role="tab", data-toggle="tab", href="#Pebble")
              i.fa.fa-cloud-download
              = ' Pebble'

    div.col-xs-9
        .tab-content

          div.tab-pane.active#Overview(role="tabpanel")
            h4
              i.fa.fa-home
              = ' Overview'
            :markdown
              Quick summary of site status, and some handy links.
            div
              a.v.view
                tt
                  span.v.name
                  | #{bases.viewer}
            div(data-ajax-target='//#{site.domain}/api/v1/status.js')
              span.v.status
              img.v.status
              tt
                a.mqtt-upload.hidden MQTT
              tt
                a.http-upload.hidden HTTP
            div.row
              a.v.view.btn
                i.fa.fa-anchor
                | View
              a.btn.v.clock-mode Clock mode
            div
              button.delete-site.btn.btn-danger.btn-sm
                i.fa.fa-trash-o


          div.tab-pane#Views(role="tabpanel")

            h4
              i.fa.fa-users
              = ' Views'
            :markdown
              Manage urls to share.

            table.table#views-list(data-ajax-target="/account/sites/#{site.name}/views")
              tbody.head
                tr
                  th #
                  th Name
                  th(colspan="2") Url
                  th Permission
                  th(colspan="1") 
              tbody.body
              tbody.template.hidden
                tr.site-row
                  td
                    span.t.number #
                  td
                    a.t.url.name
                      span.t.name Name
                  td(colspan="2")
                    a.t.href.url Url
                  td
                    span.t.permission
                      | World readable, anyone with url can see.
                  //- td
                  //-  span.t.scopes Scopes
                  td
                    button.delete-view.btn.btn-xs.btn-danger(type="button")
                      i.fa.fa-trash-o
              tbody.tail.add-new-view
                tr
                  td(colspan="5")
                    form(method="POST", action="/account/sites/#{site.name}/views")
                      div.input-group
                        input.form-control(type="text", name="viewName", placeholder="Name", aria-describedby="new-view-name")
                        span.input-group-addon#new-view-name #{site.guest}
                        div.input-group-btn
                          button.btn.btn-success(type="submit") Create public view

          div.tab-pane#Uploaders(role="tabpanel")
            div#Details(role="dialog", tabindex="-1")
              a.v.mqtt-upload.hidden
              a.v.http-upload.hidden
              .xxmodal-dialog(role="document")
                .xxxxmodal-content
                  .xxxmodal-header
                    h4 
                      i.fa.fa-cloud-upload
                      = ' Uploading Details'
                    button.close(data-dismiss="modal")
                      i.fa.fa-close
                  .modal-body
                    p Scan this image
                    ul.nav.nav-tabs(role="tablist")
                      li.active(role="presentation")
                        a(href="#mqtt-upload-qr", role="tab", data-toggle="tab")
                          | MQTT
                      li
                        a(href="#http-upload-qr", data-toggle="tab")
                          | HTTP
                    .tab-content
                      div.active.tab-pane#mqtt-upload-qr(role="tabpanel")
                        div.code
                        p
                          tt.uri
                      div.tab-pane#http-upload-qr(role="tabpanel")
                        div.code
                        p
                          tt.uri

          div.tab-pane#Pebble(role="tabpanel", data-ajax-target="/account/sites/#{site.name}/views")
            h4
              i.fa.fa-cloud-download
              = ' Pebble'
            div.list-group
              div.pebble-template
                a.list-group-item.t.pebble
                  span.badge.t.name Name
                  h4.list-group-item-heading
                    span.t.pebble-text Link



